/*

!.gitignore
!/.env.example
!/install.sh
!/README.md

!/wp-content
/wp-content/*
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/themes
/wp-content/themes/*

# !/wp-content/plugins/your-plugin
# !/wp-content/themes/your-theme
